POSTGRES_USER=cyber
POSTGRES_PASSWORD=change_me
POSTGRES_DB=cyberevents
DATABASE_URL=postgres://cyber:change_me@db:5432/cyberevents
JWT_SECRET=change_me_long_random_string
APP_MODE=vuln
BIND_IP=192.168.56.104
